<nav class="navbar-default navbar-static-side" id="bgcolor" role="navigation">
        <div class="sidebar-collapse ">
                <ul>
                        <li class="nav-header bg bg-secondary" style="background-color: white !important;">
                                <div class="dropdown profile-element ">
                                        <img alt="image" class="img-responsive"
                                                src="../../../../assets//img//1616682659957.jpg" />
                                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                                        </a>
                                </div>
                                <div class="logo-element">
                                        MR
                                </div>
                        </li>
                </ul>
                <ul class="nav metismenu" id="side-menu">
                        <!-- <li><a routerLink="/Dashboard" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-tachometer"></i>
                                        <span class="hide-menu">DashBoard</span></a>
                        </li> -->
                        <li><a routerLink="/Acceptance" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-check-circle" title="Acceptance"></i>
                                        <span class="hide-menu">Airway Bill</span></a>
                        </li>
                        <li><a routerLink="/Signup" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-check-circle" title="Sign up"></i>
                                        <span class="hide-menu">Sign up</span></a>
                        </li>
                        <li><a routerLink="/ForgotPassword" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link">
                                        <i class="fa fa-check-circle" title="Forgot Password"></i>
                                        <span class="hide-menu">Forgot Password</span></a>
                        </li>
                        <li><a routerLink="/OTP" [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-check-circle" title="OTP"></i>
                                        <span class="hide-menu">OTP</span></a>
                        </li>
                        <li><a routerLink="/ChangePassword" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link">
                                        <i class="fa fa-check-circle" title="OTP"></i>
                                        <span class="hide-menu">Change Password</span></a>
                        </li>
                        <!-- <li *ngIf="GV.canView_Examination"><a routerLink="/Export/Examination"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-superpowers" title="Examination"></i>
                                        <span class="hide-menu">Examination</span></a>
                        </li>
                        <li *ngIf="GV.canView_Scanning"><a routerLink="/Export/Scanning"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-barcode" title="Scanning"></i>
                                        <span class="hide-menu">Scanning</span></a>
                        </li> -->
                        <!-- <li *ngIf="GV.canView_BuildUP"><a routerLink="/Export/BuildUp"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-building" title="Build UP"></i>
                                        <span class="hide-menu">Build UP</span></a>
                        </li>
                        <li *ngIf="GV.canView_Manifest"><a routerLink="/Export/Manifest" title="Air Cargo Manifest"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-sitemap"></i>
                                        <span class="hide-menu">Air Cargo Manifest</span></a>
                        </li> -->
                        <!-- <li *ngIf="GV.canView_Manifest">
                                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Air Cargo Manifest
                                        </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level ">
                                        <li><a routerLink="/Export/Manifest" [routerLinkActive]="['activeMenuLink']"
                                                        class="sidebar-link">
                                                        <i class="fa fa-search"></i>
                                                        Manifest</a>
                                        </li>
                                </ul>
                        </li> -->
                        <!-- <li *ngIf="GV.canView_ULDRecieve">
                                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">ULD Recived
                                        </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level ">
                                        <li><a routerLink="/ULD/ULDReceive" [routerLinkActive]="['activeMenuLink']"
                                                        class="sidebar-link">
                                                        <i class="fa fa-get-pocket"></i>
                                                        ULD Receive</a>
                                        </li>
                                        <li><a routerLink="/ULD/ULDReceiveInquiry"
                                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                                        <i class="fa fa-search"></i>
                                                        Search</a>
                                        </li>
                                </ul>
                        </li> -->

                        <!-- <li *ngIf="GV.canView_ULDRecieve">
                                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">ULD Stock
                                        </span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level ">
                                        <li><a routerLink="/ULD/UldStockAllComponent"
                                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                                        <i class="fa fa-get-pocket"></i>
                                                        ULD Stock All</a>
                                        </li>
                                        <li><a routerLink="/ULD/UldStockEachComponent"
                                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                                        <i class="fa fa-search"></i>
                                                        ULD Stock Each</a>
                                        </li>
                                </ul>
                        </li> -->
                        <!-- <li *ngIf="GV.canView_Flights"><a routerLink="/Export/Flights"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fas fa-plane-departure" title="Flights"></i>
                                        <span class="hide-menu">Flights</span></a>

                        </li> -->
                        <!-- <li><a routerLink="/Admin/Shipper" *ngIf="isAdmin" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link">
                                        <i class="fa fa-truck" title="Shipper"></i>
                                        <span class="hide-menu">Shipper</span></a>
                        </li>
                        <li><a routerLink="/Admin/NoticeType" *ngIf="isAdmin" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link">
                                        <i class="fa fa-sticky-note-o" title="Notice Type"></i>
                                        <span class="hide-menu">Notice Type</span></a>
                        </li>
                        <li><a routerLink="/Admin/ULDTypes" *ngIf="isAdmin" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link">
                                        <i class="fa fa-archive" title="ULD Type"></i>
                                        <span class="hide-menu">ULD Type</span></a>
                        </li>
                        <li><a routerLink="/Admin/Consignee" *ngIf="GV.consignee"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-suitcase" title="Consignee"></i>
                                        <span class="hide-menu">Consignee</span></a>
                        </li>
                        <li><a routerLink="/ULD/ULD" *ngIf="GV.consignee" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link">
                                        <i class="fa fa-shield" title="ULD"></i>
                                        <span class="hide-menu">ULD</span></a>
                        </li>
                        <li><a routerLink="/Admin/AgentType" *ngIf="GV.agentType"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-indent" title="Agent Type"></i>
                                        <span class="hide-menu">Agent Type</span></a>
                        </li>
                        <li><a routerLink="/Admin/Agents" *ngIf="GV.Agents" [routerLinkActive]="['activeMenuLink']"
                                        class="sidebar-link">
                                        <i class="fa fa-universal-access" title="Agents"></i>
                                        <span class="hide-menu">Agents</span></a>
                        </li>
                        <li><a routerLink="/Admin/UDM Master" *ngIf="GV.canView_UDMMaster"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-asterisk" title="UDM Master"></i>
                                        <span class="hide-menu">UDM Master</span></a>
                        </li>
                        <li><a routerLink="/Admin/Commidity" *ngIf="GV.canView_Commodity"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-creative-commons" title="Commodity"></i>
                                        <span class="hide-menu">Commodity</span></a>
                        </li>
                        <li><a routerLink="/Admin/Vehicles" *ngIf="GV.canView_Vehicle"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-bus" title="Vehicle Types"></i>
                                        <span class="hide-menu">Vehicle Types</span></a>
                        </li>
                        <li><a routerLink="/Admin/Forwader" *ngIf="GV.canView_Forwader"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-arrow-circle-right" title="Forwader"></i>
                                        <span class="hide-menu">Forwader</span></a>
                        </li>
                        <li><a routerLink="/Admin/NatureOfGoods" *ngIf="GV.canView_Goods"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-cutlery" title="Nature of Goods"></i>
                                        <span class="hide-menu">Nature Of Goods</span></a>
                        </li>
                        <li><a routerLink="/Admin/AirLines" *ngIf="GV.canView_AirLines"
                                        [routerLinkActive]="['activeMenuLink']" class="sidebar-link">
                                        <i class="fa fa-plane" title="Airlines"></i>
                                        <span class="hide-menu">Airlines</span></a>
                        </li> -->
                </ul>
        </div>
</nav>