<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url('assets/img/logo-tw-home1.JPG');">
                <h2 style="color: white;">Enter Email</h2>
            </div>
            <form [formGroup]="forgotPasswordForm" enctype="multipart/form-data" role="form"
                class="login100-form validate-form">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
                        <span class="label-input100">Email</span>
                        <input autocomplete="new-phone" class="input100" type="text" name="Email"
                            formControlName="Email" placeholder="Enter Email">
                        <span class="focus-input100"></span>
                    </div>
                    <form action="javascript:" class="form-inline">
                        <div class="container-login100-form-btn">
                            <button type="submit" (click)="sendOTP()"
                                class="btn btn-w-m btn-success btn-rounded custom-login-btn">
                                <ng-container [ngTemplateOutlet]="clicked?loader:noLoader"></ng-container>
                                <ng-template #noLoader>
                                    Send
                                </ng-template>
                                <ng-template #loader>
                                    <img src="assets/img/ajax-loader.gif">
                                </ng-template>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="container-login100-form-btn">
                    <p style="margin-left: 115px">Don’t have an account? <a routerLink="/Signup"><b>Signup</b></a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>