<!-- 
 <div class="row mt-2 ">
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-title">
                <h3>Request ULD</h3>
            </div>
            <hr>
        <div class="ibox-content">
            <div class="stat-percent font-bold text-success"><h6 class="btn btn-success btn-sm text-white">{{totalUldRequest.RequestedULD.Total}} </h6><i class=""></i></div>
                <h4>Total</h4>
        </div>
        <hr>
        <div class="ibox-content">
            <div class="stat-percent font-bold text-success"><h6 class="btn btn-success btn-sm text-white">{{totalUldRequest.RequestedULD.Pending}}</h6><i class=""></i></div>
                <h4>Pending</h4>
        </div>
        <hr>
            <div class="ibox-content">
                <div class="stat-percent font-bold text-success"><h6 class="btn btn-success btn-sm text-white">{{totalUldRequest.RequestedULD.Issued}} </h6><i class=""></i></div>
                    <h4>Issued</h4>
                </div>
                <hr>
            </div>
            
        </div>
            <div class="col-lg-3 ">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h3>Recived ULD</h3>
                    </div>
                    <hr>
                    <div class="ibox-content">
                        <div class="stat-percent font-bold text-success"><h6 class="btn btn-success btn-sm text-white">{{totalUldRecieved.RecievedULD.Total}} </h6><i class=""></i></div>
                        <h4>Total</h4>
                    </div>
                    <hr>
                    <div class="ibox-content">
                        <div class="stat-percent font-bold text-success"><h6 class="btn btn-success btn-sm text-white">10 </h6><i class=""></i></div>
                        <h4>Availible</h4>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h3>Acceptance</h3>
                    </div>
                    <hr>
                    <div class="ibox-content">
                        <div class="stat-percent font-bold text-success"><h6 class="btn btn-success btn-sm text-white">40 </h6><i class=""></i></div>
                        <h4>Total</h4>
                    </div>
                    <hr>
                    <div class="ibox-content">
                        <div class="stat-percent font-bold text-success"><h6 class="btn btn-success btn-sm text-white">10 </h6><i class=""></i></div>
                        <h4>Pending</h4>
                    </div>
                   
            </div>
    </div>
</div> -->